{{ partial post-header }}

<article>
    <section id="handout">
        <h1 tabindex="0" id="{{ data post.name }}">{{ data post.title }}</h1>
        {{ content }}
    </section>
</article>

{{ partial footer }}